<div class="register-team">

  <div class="container">
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <h1>REGISTER YOUR TEAM</h1>
    <p>Find me in app/views/teams/register.html.erb</p>

  </div>
</div>
