<!DOCTYPE html>
<html>
    <head>
        <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Welcome to BitCamp 2018</h1>
        <p>
            You have successfully registered for BitCamp 2018!<br>
            Your Team Name is: <%= @team.name %>.<br>
        </p>
        <p>
            You can now use the team dashboard to add members to your team if your team still has less than 4 members.<br>
            We will contact you with further instructions soon.
        </p>
        <p>Thanks for registering and have a great day!</p>
    </body>
</html>