<footer class="footer bg-light">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-6 h-100 text-center text-lg-left my-auto">
        <ul class="list-inline mb-0">
          <li class="list-inline-item">
            <a href="/schedule">Schedule</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a data-toggle="modal" data-target="#contact-modal" href="#">Contact</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="https://github.com/owaiswiz/Bitcamp2k18" target="_blank">Created by owaiswiz</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6 h-100 text-center text-lg-right my-auto">
        <ul class="list-inline mb-0">
          <li class="footer-icon-list-item list-inline-item mr-3">
            <a href="https://www.facebook.com/csirait.official/" target="_blank" >
              <img src="<%= image_path "facebook-square-64.png" %>" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
