<nav class="navbar navbar-expand-xl navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/">
      <div class="brand-container">
        <div class="row">
          BitCamp 
        </div>
        <div class="sponsored-by row">
          Powered by Facebook Developer Circles
        </div>
      </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#contact-modal" href="#">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/#sponsors">Sponsors</a>
        </li>
        <% if !team_signed_in? %>
          <li class="nav-item button-link">
            <%= link_to 'Login - Team Dashboard', new_team_session_path, class: 'btn btn-primary-outline' unless controller_name == 'sessions' %>
          </li>
          <li class="nav-item button-link">
            <%= link_to 'Register Your Team', new_team_registration_path, class: 'btn btn-primary-outline' unless controller_name == 'registrations' %>
          </li>
        <% else %>
          <li class="nav-item button-link">
            <%= link_to 'Dashboard', edit_team_registration_path, class: 'btn btn-primary-outline' %>
          </li>
          <li class="nav-item button-link">
            <%= link_to 'Logout', destroy_team_session_path, class: 'btn btn-primary-outline', method: :delete %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
