<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      BitCamp
    </a>
    <a class="btn pull-right" href="/about">About</a>
    <a class="btn pull-right" href="/contact">Contact</a>
    <a class="btn pull-right" href="/events">Events</a>
    <a class="btn pull-right" href="/sponsors">Sponsors</a>
    <a class="btn btn-primary-outline" href="/register_team">Register Your Team</a>
  </div>
</nav>

