<section class="text-center">
  <div class="container">
    <h2 class="mb-5">FAQs</h2>
    <div class="row">
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        FAQ SECTION TO BE DONE LATER
      </div>
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        TODO
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        FAQ SECTION TO BE DONE LATER
      </div>
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        TODO
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        FAQ SECTION TO BE DONE LATER
      </div>
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        TODO
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        FAQ SECTION TO BE DONE LATER
      </div>
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        TODO
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        FAQ SECTION TO BE DONE LATER
      </div>
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        TODO
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        FAQ SECTION TO BE DONE LATER
      </div>
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        TODO
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        FAQ SECTION TO BE DONE LATER
      </div>
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        TODO
      </div>
    </div>
  </div>
</section>
