<% faq = {} %>

<% faq["What is a Hackathon ?"] = "Hackathon is a technical event in which a group of tech-savvy individuals collaborate intensively to innovate and develop influential solutions to a problem, of course, using technology." %>
<% faq["Do we need to have the entire idea fully working ?"] = "You don't actually need to have the entire idea in fully working condition. However, it is essential to give a demo to our tech experts of the product you have built." %>

<% faq["Who is eligible to participate ?"] = "Any college student who has a valid college ID card can participate." %>
<% faq["Is there a Registration Fee ?"] = "No, it's completely free." %>

<% faq["What do I get by attending Bitcamp ?"] = "Immense knowledge coupled with an enthralling experience, one to one guidance from tech experts are some of the things Bitcamp will shower you with, of course, along with participation certificates for all participants and colossal prizes for winners." %>
<% faq["How big can a team be ?"] = "There must be atleast 2 members in a team. The maximum number of team members is 4." %>

<% faq["I don't have a team. Can I participate in the Bitcamp alone ?"] = "No, you need atleast one more team member with you." %>
<% faq["Who will own the IP(Intellectual Property) Rights to the product that I have built ?"] = "Participants who have contributed in the development of the product own the IP rights. However, all the code needs to be open source, so our judges/tech experts can review it." %>

<% faq["What shouldn’t I bring ?"] = "Anything that is particularly harmful won't be allowed in the campus. Yes, our security would be checking each and every individual." %>
<% faq["Will there be travel reimbursements ?"] = "For all the participants coming from outside of Maharashtra, travel reimbursement capped at a specific amount depending upon your city would be provided." %>

<% faq["What all will the college provide and what do I need to bring ?"] = "Even though we would be providing extension cords, they will be limited. So, participants are requested to bring their own extension cords. Wi-Fi will be provided for all. Also,the college will be providing food and snacks during the course of competition." %>
<% faq["Are there any restrictions on using number of pre-built libraries ?"] = "There is no restriction to use any language, technology stack, or libraries. You can use any of them to create the web/mobile application. However, ensure that all the technologies you use are open source." %>
<% faq["Will the college provide accomodation ?"] = "No, the college will not be providing any sort of accomodation." %>
<% faq["How will be the Teams selected for the Final Round ?"] = "Teams will be selected on the Basis of the Abstract submitted by them for the Abstraction Submission round and also a profile based evaluation will be done for all the participants based on their github and linkedin profiles." %>
<section class="text-center faqs">
  <script>
    document.addEventListener("turbolinks:load", function() {
      handleFaqToggle();
    })
  </script>
  <div class="container">
    <h2 class="mb-5">FREQUENTLY ASKED QUESTIONS</h2>
    <% faq.each_slice(2) do |array_of_2_faqs| %>
      <div class="row">
        <% array_of_2_faqs.each do |question, answer| %>
          <div class="col-lg-6">
            <div class="question">
              <div class="question-content-container">
                <%= fa_icon 'plus-circle', class: 'question-icon' %>
                <span class="question-content">
                  <%= question %>
                </span>
              </div>
              <div class="question-answer">
                <%= answer %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
