<section class="text-center faqs">
  <script>
    document.addEventListener("turbolinks:load", function() {
      handleFaqToggle();
    })
  </script>
  <div class="container">
    <h2 class="mb-5">FAQs</h2>
    <div class="row">
      <div class="col-sm-6">
        <div class="question">
          <div class="question-content-container">
            <%= fa_icon 'plus-circle', class: 'question-icon' %>
            <span class="question-content">
              What is this faq?
            </span>
          </div>
          <div class="question-answer">
            Tier 2 faq section tbh
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
