<header class="masthead text-white text-center">
  <div class="container">
    <div class="row">
      <script>
        document.addEventListener("turbolinks:load", function() {
          handleSvgAnimation();
        })
      </script>
      <div class="bitCampAnimationSvg">
        <%= render "bitcamp_animation_svg" %>
      </div>
    </div>
</header>
