<section id="sponsors" class="sponsors text-center">
  <div class="container">
    <h2 class="mb-5">OUR SPONSORS</h2>
    <div class="sponsor-row row">
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        <a href="http://get.tech" target="_blank">
          <img class="s-logo" src="<%= image_path 'sponsor_1.png' %>" />
        </a>
      </div>
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        <a href="https://hackerearth.com" target="_blank">
          <img class="s-logo" src="<%= image_path 'sponsor_2.png' %>" />
        </a>
      </div>
    </div>
  </div>
</section>
