<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">WHAT PEOPLE ARE SAYING...</h2>
    <div class="row">
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="<%= image_path 'testimonials-1.jpg' %>" alt="">
          <h5>Person 1</h5>
          <p class="font-weight-light mb-0">Todo testimonial 1</p>
        </div>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="<%= image_path 'testimonials-2.jpg' %>" alt="">
          <h5>Person 2</h5>
          <p class="font-weight-light mb-0">Todo testimonial 2</p>
        </div>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="<%= image_path 'testimonials-3.jpg' %>" alt="">
          <h5>Person 3</h5>
          <p class="font-weight-light mb-0">Todo testimonial 3</p>
        </div>
      </div>
    </div>
  </div>
</section>
