<section class="testimonials text-center bg-light">
  <div class="container">
    <h2 class="mb-5">WHAT PEOPLE ARE SAYING...</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="<%= image_path 'testimonials-1.jpg' %>" alt="">
          <h3>Lalima Sharda</h3>
          <blockquote class="testimonial-text font-weight-light mb-0">
            <p>... One of my most prized take aways from the competition were the experiences and all the new tricks I learnt during the 24 hours of coding ...</p>
          </blockquote>
          <a class="btn btn-primary-outline read-more-button" data-toggle="modal" data-target="#testimonial-readmore-modal" data-name="Lalima Sharda <small class='text-muted'>Participant</small>" data-text="<br>Bitcamp 2017 was my very first hackathon, and it surely proved to be a great start with some really unforgettable moments.<br><br>One of my most prized take aways from the competition were the experiences and all the new tricks I learnt during the 24 hours of coding. I owe it to the mentors and technical staff who were really helpful and friendly.<br><br>They introduced us to new technologies and concepts and their experience definitely guided us to convert our ideas into the final product. <br><br>I'll admit that sitting continuously, staring at the screen and typing does get stressful at times, but the organisation saw to it that each participant was made as comfortable as possible. <br><br>The food was amazing and the organisers made sure that there were no technical shortcomings. I also got to meet students from colleges all around Mumbai, which was a great opportunity for me to share ideas and learn about new things.<br>" href="#">Read More</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="<%= image_path 'testimonials-2.jpg' %>" alt="">
          <h3>Pavankumar Mahadik</h3>
          <blockquote class="testimonial-text font-weight-light mb-0">
            <p>... The support and professionalism displayed were up to the mark. Mentors present had good knowledge of the subject and were very helpful ...</p>
          </blockquote>
          <a class="btn btn-primary-outline read-more-button" data-toggle="modal" data-target="#testimonial-readmore-modal" data-name="Pavankumar Mahadik <small class='text-muted'>Winner</small>" data-text="<br>Bitcamp 2017 was the first time, I participated in a Hackathon. It was a 24-hour coding competition where me and my team were supposed to develop a solution based on the given problem statement.<br><br>The planning phase of our solution took some considerable amount of time, but it was required too as our entire project was dependent on this phase.<br><br>Most of the development phase went smooth as our team was well versed with Web Technologies. The presentation was one of the crucial phases and our group member, Aman Banka executed it successfully.<br><br>The event was well organized by CSI RAIT and could be considered as one of the best tech events I've seen in RAIT. The support and professionalism displayed were up to the mark. Mentors present had good knowledge of the subject and were very helpful.<br><br>Best wishes to CSI RAIT for Bitcamp 2018.<br>" href="#">Read More</a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-3" src="<%= image_path 'testimonials-3.jpg' %>" alt="">
          <h3>Aakash Jaswal</h3>
          <blockquote class="testimonial-text font-weight-light mb-0">
            <p>... The best thing about Bitcamp is that the priority is given to learning new things and interacting with other teams, rather than winning ...</p>
          </blockquote>
          <a class="btn btn-primary-outline read-more-button" data-toggle="modal" data-target="#testimonial-readmore-modal" data-name="Aakash Jaswal <small class='text-muted'>2<sup>nd</sup> Runner Up</small>" data-text="<br>Bitcamp 2017 was my second hackathon. What I found most amusing, was the selection that happened through a competitive coding contest, which made sure that the best teams qualify for the hackathon.<br><br>From start to end, there was no flaw in the management of the hackathon. Though sitting for 24 hours and coding continuously can become pretty exhausting, all the hospitality and regular interaction with the seniors really helped us to create our web app.<br><br>The best thing about Bitcamp is that the priority is given to learning new things and interacting with other teams, rather than winning. I was really impressed by the number of juniors participating.<br><br>As always, CSI was able to bring out the best of future talents of RAIT in the spotlight. I hope Bitcamp achieves bigger success each year and I wish good luck to the entire committee for it.<br>" href="#">Read More</a>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render 'readmore' %>
