<% selected_teams = <<-EOF
Access Denied - RAIT
Byte Us - RAIT
The Lazy Hackers - KIET GROUP OF INSTITUTIONS, Ghaziabad
White Walkers - JSS Academy of Technical Education, Noida
Curious Us - B.S.A.I.T.M
TechSniper - Gyan Ganga Institute of Technology and Sciences
NZEC_ERROR - Hindustan University
The Exceptions - Sri Venkateswara College of Engineering
Shiksha Buddy - SRM University
FrndsTech - RAIT
Team Winners - VESIT
O(1/n) - VESIT
Block Daemons - Thadomal Shahani Engineering College
Sentinel - VESIT
Brogrammers - Pillai College Of Engineering,New Panvel 
Prodigy4 - RAIT
Gaia - Thakur college of Engineering and technology
Anonymous - M H Saboo Siddik College of Engineering
PARA_Coders - VJTI
Thunder - RAIT
Open Developers - VESIT
AkWorriors - Sinhgad College of Engineering Pune
Hello World - RAIT
Jayant Benjamin and Team - K.J.Somaiya
Recursion - M.H Saboo Siddik College Of Engineering
EOF
%>
<style type="text/css" media="screen">
  .results-list li {
    margin: 0.5rem auto;
  }
</style>
<div class="team-dashboard container">
  <h1>Selected Teams</h1>
  <div class="d-flex">
    <div class="announcements ml-0">
      <div class="announcements-container results-list">
        <ul>
          <% selected_teams.each_line do |team| %>
            <li><%= team %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

