<% selected_teams = <<-EOF
The Lazy Hackers
TechSniQer
NZEC_ERROR
The Exceptions
Shiksha Buddy
FrndsTech
Team Winners
Byte Us
0(1/n)
Block Daemons
Sentinel
Brogrammers
Access Denied
Prodigy4
Gaia
Anonymous
PARA_Coders
Thunder
Open Developers
AkWorriors
Hello World
Ionumbai
Recursion
The lterators
Bits and Pieces
EOF
%>
<style type="text/css" media="screen">
  .results-list li {
    margin: 0.5rem auto;
  }
</style>
<div class="team-dashboard container">
  <h1>Selected Teams</h1>
  <div class="d-flex">
    <div class="announcements ml-0">
      <div class="announcements-container results-list">
        <ul>
          <% selected_teams.each_line do |team| %>
            <li><%= team %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>

