@import "utils/variables";
body {
  font-family: 'Josefin Sans','Source Sans Pro', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Josefin Sans', 'Source Sans Pro', sans-serif !important;
  font-weight: bolder !important; 
}

header.masthead {
  position: relative;
  background-color: #343a40;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
padding-bottom: 8rem; }
header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
opacity: 0.3; }
header.masthead h1 {
font-size: 2rem; }
@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
  padding-bottom: 12rem; }
  header.masthead h1 {
font-size: 3rem; } }

.showcase .showcase-text {
  padding: 4rem 0rem 4rem 4rem !important;
}

@media (max-width: 768px) {
    .showcase .showcase-text {
        padding-left: 1rem !important;
    }
}
.showcase .showcase-img {
  min-height: 25rem;
background-size: cover; }

@media (min-width: 768px) {
  .showcase .showcase-text {
padding: 4rem; } }

@media (max-width: 991px) {
  .showcase {
    .row:not(:last-child) .showcase-text {
      padding-bottom: 0 !important;
    }
    .showcase-img {
      display: none;
    }
    .showcase-text {
      &:nth-child(even){
        text-align: right;
      }
    }
  }
}

.features-icons {
  padding-top: 4rem;
padding-bottom: 4rem; }
.features-icons .features-icons-item {
max-width: 20rem; }
.features-icons .features-icons-item .features-icons-icon {
height: 7rem; }
.features-icons .features-icons-item .features-icons-icon i {
font-size: 4.5rem; }
.features-icons .features-icons-item:hover .features-icons-icon i {
font-size: 5rem; }

.testimonials {
  padding-top: 4rem;
padding-bottom: 4rem; }
.testimonials .testimonial-item {
max-width: 18rem; }
.testimonials .testimonial-item img {
  max-width: 12rem;
box-shadow: 0px 5px 5px 0px #adb5bd; }

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;

  .row > div {
  }
  .footer-icon-list-item {

    a {
      transition-duration: 0.2s;
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
    img{
      max-width: 48px;
    }
  }
}

/* Custom CSS Begins Here */

a.btn-primary-outline {
  display: block;
  border-color: $color-primary;
  color: $color-primary;
  transition: all 0.2s !important;
  &:hover,&:active,&:focus {
    background-color: $color-primary;
    color: white;
    letter-spacing: 1px;
  }
}

//For Navbar

//For Responsive Navbar 
@media (max-width: 1199px) {
  nav.navbar {

    ul.nav {
      display: block !important;
      text-align: center;

      li.nav-item {
        display: table !important;
        margin: 2em auto;
      }
    }
  }
}
nav.navbar {
  background-color: $color-primary;
  color: white;

  .navbar-toggler {
    font-size: 110%;
    border-color: white;
    border-width: 2px;
    cursor: pointer;
    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }
  }
  .navbar-brand {
    color: white !important;
    letter-spacing: 1px;
    font-size: 1.4rem;
    font-weight: lighter !important;
  }
  .btn-primary-outline {
    letter-spacing: initial !important;
    margin-left: 1rem;
    color: white;
    border-color: white;
    border-radius: 2%;
    border-width: 2px;
    &:hover {
      background-color: white;
      color: $color-primary;
    }
  }
  a {
    color: white;
    padding: 0.5rem;
    font-weight: lighter;
  }

  .nav-pills li.nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
    &:not(.button-link) {
      display: inline-block;
      text-decoration: none;
      &:hover:after {
        width: 100%;
      }
      &:after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: white;
        transition: width .2s;
      }
    }
  }
}


section {
  padding-top: 4rem;
  padding-bottom: 4rem;
  &:nth-child(even) {
    background-color: $color-primary-light;
  }
}

header {
  &.masthead {
    padding: 0;
    background-color: $color-primary;
  }

}

// For Logo in the Navigation bar
.bitcampLogo {
  max-width: 2rem;
  margin-right: 5px;

}

// For the SVG Animation 
.bitCampAnimationSvg {
  width: 100%;

  .hackathon {
    position: relative;
    display: block;
    margin: auto;
    width: 80%;
  }
}


// For the Icons Grid
.features-icons {
  h2 {
    margin-bottom: 3rem;
  }

  .features-icons-icon {
    margin: 0 auto 3rem auto;

    img {
      margin: auto;
    }
  }
}

// For the showcase section
.showcase {
  padding: 0 !important;
  .showcase-text:nth-child(odd){
    padding-left: 0 !important;
    padding-right: 4rem !important;
  }
  a.btn-primary-outline {
    padding: 1rem;
    margin-top: 2rem;
  }
}

// For the Previous Bitcamp Section
.previous-bitcamp {
  .carousel-inner {
    width: 100%;
    max-width: 1000px;
    margin: auto;
  } 
}

// For the FAQs Section
.faqs {
  .container {
    .question {
      text-align: left;
      font-size: 1.1rem;
      margin: 1rem auto;
      &:hover {
        cursor: pointer;
      }
      .question-content-container {
        display: flex;
        align-items: flex-start;
        user-select: none;
        .question-icon {
          color: $color-primary;
          font-size: 1.8rem;
          margin-right: 1rem;
          transition-duration: 0.2s;
          &.clicked {
            transform: rotate(45deg);
          }
        }
        .question-content {
          font-size: 1.3rem;
        }
      }
      .question-answer {
        display: none;
        margin: 0.6rem;
        padding: 1rem;
        padding-left: 2rem;
        border-left: 0.3rem solid $color-primary;
        &.clicked {
          display: block;
        }
      }
    }
  }
}
// For Testimonials Section
.testimonials {
  .testimonial-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    h3 {
      font-size: 1.5rem;
    }
    .read-more-button {
      @media (max-width: 991px) {
        margin-bottom: 5rem;
      }
      align-self: stretch;
      margin: 1rem;
      margin-top: auto;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  .row .col-lg-4:last-child {
    .read-more-button {
      margin-bottom: 1rem !important;
    }
  }
}

.testimonial-text {
  margin: 0;
  padding: 10px 40px;
  position: relative;
  font-family: Georgia, serif;
  color: #666;
  border-radius: 5px;
  font-style: italic;
  text-shadow: 0 1px 0 #ECFBFF;
  &:before, &:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #999;
    font-style: normal;
  }
  &:before {
    top: 0;
    left: 10px;
  }

  &:after {
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
  }

}

//For Read More - Testimonial Modal
.modal {
  text-align: center;
  padding: 0!important;
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  button {
    cursor: pointer;
  }
  .testimonial-text {
    text-align: justify;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

//For Sponsor Section
.sponsors {
  h2 {
    margin-bottom: 3rem !important;
  }
  .sponsor-row{
    img.s-logo {
      max-width: 10rem;
      max-height: 8rem;
      margin: 1.5rem 1rem;
      transition-duration: 0.2s;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
}

// For Contact Modal
#contact-modal {
  color: black !important;
  .modal-dialog {
    min-width: 25%;
    .modal-content {
      .modal-body {
        .contact {
          .row {
            margin-top: 2rem;
            margin-bottom: 2rem;
          }
          .col-xs-1 {
            font-size: 2rem;
            margin-right: 1rem;
          }
          .col-xs-11 {
            font-size: 1.1rem;
            .name {
              font-size: 2rem;
            }
            .fa {
              margin-right: 1rem;
            }

          }

        }
        .col-xs-12 {
          .fa {
            margin-right: 1rem;
            font-size: 2rem;
          }
          font-size: 1.5rem;
        }
      }
    }
  }
}
