@import "utils/variables";

.form-container {
  font-family: 'Source Sans Pro';
  background-color: #ddedff;
  padding-top: 5rem;
  text-align: center;
  .container {
    max-width: 30rem;
    h1 {
      text-align: center;
      font-weight: bolder;
      padding-bottom: 3rem;
    }
    input {
      padding: 1rem;
      font-size: 1.2rem;
      letter-spacing: 1px;
    }
    .form-inputs {
      text-align: left;
      .form-group {
        margin: 2rem auto;
        transition: all .2s ease-in-out;
        &:hover {
          transform: scale(1.05);
        }
      }
      .team-member-block {
        padding-top: 2rem;
        padding-bottom: 2rem;
        .optional.animated.body{
          display: none;
        }
        >.header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          h3 {
            margin: 0;
          }
          .add-remove-member {
            background-color: transparent;
            color: $color-success;
            border-color: $color-success;
            border-width: 2px;
            &.danger {
              color: $color-danger;
              border-color: $color-danger;
              &:hover {
                background-color: $color-danger;
              }
            }
            &:hover {
              background-color: $color-success;
              color: white;
            }
          }
        }
      }
    }
  }
  .form-actions {
    margin: 2rem auto;
    input.submit-btn {
      width: 100%;
      border-color: $color-primary;
      border-width: 2px;
      color: $color-primary;
      background-color: transparent;
      &:hover {
        cursor: pointer;
        color: white;
        background-color: $color-primary;
      }
    }
  }
  &.login-form {
    .form-inputs {
      div.checkbox {
        input + label.boolean {
          font-size: 1.1rem;
          span.label {
            margin-left: 0.5rem;
          }
        }
      }
    }
  }
  .links-container {
    padding-top: 2rem;
    padding-bottom: 2rem;
    a {
      margin-bottom: 1rem;
      display: block;
      color: $color-primary;
      &:hover {
        text-decoration: none;
        color: $color-primary-dark;
      }
    }
  }
}

.error {
  border-color: $color-danger-light !important;
  border-width: 3px !important; 
}

.help-block {
  display: block;
  font-weight: bolder;
  margin-top: 0.5rem;
  color: $color-danger;
  text-align: left;
}
